:root {
  --primary-color: #e3aca3;
  --secondary-color: #a07e96;
  --title-font: Playfair Display;
  --secondary-font: Poppins;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
}
h1 {
  font-family: var(--title-font);
  font-size: 44px;
  font-weight: bold;
  padding: 15px;
}
h2 {
  font-family: var(--title-font);
}
p {
  font-size: 16px;
  font-family: var(--secondary-font);
}
i {
  font-size: 25px;
  color: var(--secondary-color);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 10px;
  font-family: var(--secondary-font);
}
.img-fluid-1 {
  max-width: 100%;
  border-radius: 5px;
  border: bisque;
}

.img-fluid-2 {
  max-width: 100%;

  border-radius: 5px;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
  margin-top: 25px;
  padding: 5px 30px;
  color: white;
  font-size: 16px;
}

#my-projects-main-text {
  margin-top: 30px;
}
#my-projects {
  margin-top: 80px;
  margin-bottom: 100px;
}

#footer {
  display: block;
  padding: 15px 0px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
@media (max-width: 900px) {
  img {
    display: none;
  }
}
